{% extends "index.html" %}

{% block content %}
	<h2>{{ category.name }}</h2>
    <div style="display: flex;">
    {% for post in posts %}
        <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="post image">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.text }}</p>
                <a href="#" class="btn btn-primary">Переглянути</a>
              </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}